.top {

}


.header {
	text-align: center;
}



.numbers {
	padding-top: 15%

}



.fiveNumbersBox {
	text-align: center;
	

}

.oneNumbersBox {
	text-align: center;
	
}


.button {
	text-align: center;
	padding-top: 15%
}