.top {

}


.header {
	align-content: : center;
}



.numbers {
	padding-top: 15%

}



.fiveNumbersBox {
	text-align: center;
	border: 2px solid red;

}

.twoNumbersBox {
	text-align: center;
	border: 2px solid red;
}


.button {
	text-align: center;
	padding-top: 15%
}